body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #3b5982;
}

h1 {
  color: #fff;
  font-size: 4em;
  font-weight: 400;
  margin-bottom: 1rem;
}

section {
  width: 95%;
  background-color: #fbd3a2;
}

h2 {
  color: #3b5982;
  font-size: 3em;
  font-weight: 400;
  margin: 0.5em;
}

ul {
  margin: 1em;
  padding-top: 1em;
  word-wrap: break-word;
}

img {
  width: 30%;
  height: 30%;
}
