/******************
Jonathan Arias Busto - UO283586
******************/

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

/*Estilo para el contenedor header*/
header {
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header img {
  padding-left: 7vw;
  width: 13.35em;
  height: auto;
}

header nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

header a:last-child {
  display: block;
  padding: 0.6em;
  line-height: 1.4em;
}

header a:last-child:hover {
  padding: 0.6em;
}

@media screen and (max-width: 970px) {
  header a:not(:last-child) {
    padding-bottom: 1em;
  }
  header nav {
    padding-top: 1.1em;
    padding-right: 1.1em;
    padding-bottom: 1.1em;
    flex-direction: column;
    transition: all 1s ease;
  }
}

/*****************
SE ACABA CSS HEADER
**************/

/*****************
EMPIEZA CSS MAIN
**************/
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
}

h1 + section p:first-of-type {
  padding-bottom: 2.5em;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2.5em;
  width: 90%;
}

section p {
  text-align: left;
  width: 65%;
}

section:first-of-type h2 + p {
  text-align: center;
}

p a {
  text-align: left;
}

section img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

video {
  width: 60vw;
  overflow: hidden;
  height: auto;
  border-radius: 1.5em;
}

section ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 60%;
  padding-left: 7em;
}

section ul li {
  padding-bottom: 1em;
}

section ul li ul {
  padding-left: 2em;
}

main
  section:nth-of-type(2)
  ul:nth-of-type(1)
  li:nth-of-type(3)
  ul
  li:first-of-type {
  padding-top: 1em;
}

main
  section:nth-of-type(2)
  ul:nth-of-type(1)
  li:nth-of-type(2)
  ul
  li:first-of-type {
  padding-top: 1em;
}

main
  section:nth-of-type(2)
  ul:nth-of-type(1)
  li:nth-of-type(3)
  ul
  li:last-of-type {
  padding-bottom: 0em;
}

main
  section:nth-of-type(2)
  ul:nth-of-type(1)
  li:nth-of-type(2)
  ul
  li:last-of-type {
  padding-bottom: 0em;
}

main section:nth-of-type(3) ul:nth-of-type(2) li:nth-of-type(4) {
  padding-bottom: 0em;
}

pre code {
  display: block;
  padding: 20px;
}

section form {
  width: 60%;
}

table {
  width: 60%;
}

table caption {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

th,
td {
  padding: 0.5em;
}

textarea {
  width: 100%;
  height: 10em;
  resize: none;
}
/*****************
ACABA EL CSS MAIN
**************/

@media screen and (max-width: 514px) {
  header a:last-child:hover {
    /* width: 120px;
    height: 27px;  */
    transition: all 0.6s ease;
  }
  section p + ul {
    padding-left: 0em;
  }
  section p {
    width: 100%;
  }
}
